
modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "dist"

[[ports]]
localPort = 3000
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 3001
externalPort = 81
exposeLocalhost = true

[[ports]]
localPort = 3002
externalPort = 82
